{% extends "/templates/main_template.twig" %}

{% block titleText %}Endre bruker informasjon{% endblock %}
{% block content %}

    <div class="container">
        <form method="post">

            <div hidden class="form-group">
                <input name="userIdInput" type="text" class="form-control" id="useridinput"
                       aria-describedby="userIdHelp" placeholder="1" required="required" value="{{ user.getUserID }}" >
            </div>
            <div class="form-group"  style="margin-top: 5em;">
                <label for="firstnameinput">Fornavn</label>
                <input name="firstNameInput" type="text" class="form-control" id="firstnameinput"
                       aria-describedby="firstnameHelp" placeholder="Ola" value="{{ user.getFirstname}}" pattern="^[A-zæøåÆØÅ-]{1,}$" required="required" >

            </div>
            <div class="form-group">
                <label for="lastnameinput">Etternavn</label>
                <input name="lastNameInput" type="text" class="form-control" id="lastnameinput"
                       aria-describedby="lastnameHelp" placeholder="Normann" value="{{ user.getLastname }}" pattern="^[A-zæøåÆØÅ-]{1,}$" required="required">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Epost</label>
                <input name="emailInput" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="ola.nordmann@fancymail.com" value="{{ user.getEmail }}" required="required">
            </div>
            <div class="form-group">
                <label for="phone1Input">Mobil</label>
                <input name="phoneInputOne" type="tel"  class="form-control" id="phone1Input"
                       aria-describedby="phoneHelp" placeholder="12345678" value="{{ user.getPhone }}" pattern="[0-9]{8}" required="required">
            </div>
            <div class="form-group">
                <label for="phone2Input">Telefon</label>
                <input name="phoneInputTwo" type="tel"  class="form-control" id="phone2Input"
                       aria-describedby="phoneHelp" placeholder="12345678" value="{{ user.getPhone2 }}" pattern="[0-9]{8}">
            </div>
            <div class="form-group">
                <label for="addressInput">Gatenavn</label>
                <input name="postaddressInput" type="text" class="form-control" id="addressInput"
                       aria-describedby="addressHelp" placeholder="Skomakergata" value="{{ userAddress.getStreetAddress }}" required="required">
            </div>
            <div class="form-group">
                <label for="postcode">Postkode</label>
                <input name="postcodeInput" type="text" pattern="[0-9]{4}" class="form-control"
                       id="postcode"
                       aria-describedby="postcodeHelp" placeholder="8080" value="{{ userAddress.getPostcode }}" required>
                <div class="invalid-tooltip">
                    Skriv inn et riktig postnummer
                </div>
            </div>
            <div class="form-group">
                <label for="city">By</label>
                <input name="cityInput" type="text" class="form-control" id="cityInput"
                       aria-describedby="cityInputHelp"
                       readonly value="{{ userAddress.getCity }}">
            </div>
            <button style="margin-top: 3em; margin-bottom:3em" name="confirm" class="btn btn-primary">Bekreft endringer</button>
        </form>
    </div>
<script>
    var timeout = null;
    var textInput = document.getElementById("postcode");
    // Listen for keystroke events
    textInput.onkeyup = function () {
        clearTimeout(timeout);
        timeout = setTimeout(function () {

            var postcode = document.getElementById("postcode").value;

            $.ajax({

                method: "POST",
                url: "helper.php",
                data: "postcode=" + postcode,
                success: function (data) {
                    document.getElementById("cityInput").value = data;
                },
                error: function (xhr, ajaxOptions, thrownError) {

                var errorMessage = xhr.status + ': ' + xhr.statusText
                alert(errorMessage);
                }

            })
        }, 500);
    };
    </script>

{% endblock %}