{% extends "/templates/main_template.twig" %}

{% block titleText %}Endre bruker informasjon{% endblock %}
{% block content %}

    <div class="container">
        <form method="post">
            <p style="color:red">{{ removeUserFeedbackBad }}</p><p style="color:green">{{ removeUserFeedbackGood }}</p>
            <div class="form-group" style="margin-top: 5em;">
                <label for="originalInputEmail">Epost for bruker som skal slettes</label>
                <input name="originalEmailInput" type="email" class="form-control" id="originalInputEmail"
                       aria-describedby="emailHelp" placeholder="ola.nordmann@fancymail.com" required="required">
                <label for="secondInputEmail">Bekreft epost</label>
                <input name="secondEmailInput" type="email" class="form-control" id="secondEmailInput"
                       aria-describedby="emailHelp" placeholder="ola.nordmann@fancymail.com" required="required">
            </div>
            <button style="margin-top: 3em" name="confirm" class="btn btn-primary">Bekreft sletting</button>

        </form>
    </div>

{% endblock %}