{% extends "/templates/main_template.twig" %}

    {% block alert %}
        {% if alertType == 'alert-success' %}
            <div class="alert alert-success" role="alert">
                {{ alertText }}
            </div>
        {% elseif alertType == 'alert-danger' %}
            <div class="alert alert-danger" role="alert">
                {{ alertText }}
            </div>
        {% endif %}
    {% endblock %}

{% block titleText %}Søknader{% endblock %}
{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Søknader</h4>
    <hr>
    <br>
    <h5 class="text-center">Framleie</h5>
    <div class="container">
        <table class="table table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Dato</th>
                <th scope="col">Framleier</th>
                {#                <th scope="col">Type</th>#}
                <th scope="col">Båtplass</th>
                <th scope="col">Velg framleietaker</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set num = 0 %}
            {% set noApps = true %}
            {% for appl in applications %}
                <form method="post" action="applications.php">
                    {% if (appl)  and (appl.getStatus == 3) %}
                        {% set noApps = false %}
                        <tr {% if appl.getStatus == 2 %} class="table-info" {% endif %}>
                            {% set num=num+1 %}
                            <input name="userAppl" id="userApplc" value="{{ appl.getApplicationID }}" hidden>
                            <td>{{ num }}</td>
                            <td>{{ appl.getDate }}</td>

                            {% for docking in dockings if appl.getDockingID == docking.getDockingID %}
                                {% for boat in boats if docking.getBoat == boat.getBoatID %}
                                    {% for user in users if boat.getUserId == user.getUserID %}
                                        <td><a class="btn-outline-info d-inline"
                                               href="profile.php?userId={{ user.getUserID }}">{{ user.firstname }} {{ user.lastname }}</a>
                                        </td>
                                        <input name="userEmail" id="userEmail" value="{{ user.getEmail }}" hidden>

                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}

                            {# Type #}
                            {#<td>
                                {% if appl.getDescription == "Søknad om framleie" %}
                                    Framleie
                                {% else %}
                                    {{ appl.getDescription }}
                                {% endif %}
                            </td>#}

                            <td> {# Båtplass navn #}
                                {% for dock in docks if dock %}
                                    {% set number = 0 %}
                                    {% for docking in dockings if docking.getDock == dock.getDockID %}
                                        {% set number = number + 1 %}
                                        {% if appl.getDockingID == docking.getDockingID %}
                                            {{ dock.getNickname }}-{{ number }}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>

                            <td> {# Søknader #}
                                <select class="form-control form-control-sm" name="framleieAppl" id="docking" required>
                                    <option value="0" selected disabled hidden>-
                                    </option>
                                    {% set number = 0 %}
                                    {% for dockingAppls in applications if dockingAppls %}
                                        {% if dockingAppls.getStatus == 0 %}
                                            {% set number = number + 1 %}
                                            {% for boat in boats if dockingAppls.getBoatID == boat.getBoatID %}
                                                {% for user in users if boat.getUserId == user.getUserID %}
                                                    <option value="{{ dockingAppls.getApplicationID }}">#{{ number }}
                                                        - {{ user.getFirstname }} {{ user.getLastname }}
                                                        - {{ boat.getBoatName }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type='submit' name="acceptFramleie" id='submit'
                                            class='btn btn-sm btn-success'
                                            value='{{ appl.getApplicationID }}'>Tildel
                                    </button>
                                    <button type='submit' name="rejectFramleie" id='submit'
                                            class='btn btn-sm btn-danger'
                                            value='{{ appl.getApplicationID }}'>Avslå
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                </form>
            {% endfor %}
            {% if noApps %}
                <tr>
                    <td colspan="7">Ingen søknader om framleie</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>
        {#     <table class="table table-responsive-sm">#}
        <br>
        <br>
        <h5 class="text-center">Båtplass</h5>
        <table class="table table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Dato</th>
                <th scope="col">Søker</th>
                <th scope="col">Båt</th>
                <th scope="col">Størrelse</th>
                <th scope="col">Beskrivelse</th>
                <th scope="col" colspan="2">Velg båtplass</th>
            </tr>
            </thead>
            <tbody>
            {% set num = 0 %}
            {% set noApps = true %}
            {% for appl in applications %}
                <form method="post" action="applications.php">
                    {% if (appl)  and (appl.getStatus == 0 or appl.getStatus == 2) %}
                        {% set noApps = false %}
                        <tr {% if appl.getStatus == 2 %} class="table-warning" {% endif %}>
                            {% set num=num+1 %}
                            <td>{{ num }}</td>
                            <td>{{ appl.getDate }}</td>
                            {% for boat in boats if appl.getBoatID == boat.getBoatId %}
                                {% for user in users if boat.getUserId == user.getUserID %}
                                    <td><a class="btn-outline-info d-inline"
                                           href="profile.php?userId={{ user.getUserID }}">{{ user.firstname }} {{ user.lastname }}</a>
                                    </td>
                                    <td>{{ boat.getBoatName }}</td>
                                    <td>L:{{ boat.getLength }}, B:{{ boat.getWidth }}, D:{{ boat.getDepth }}</td>

                                    <input name="userEmail" id="userEmail" value="{{ user.getEmail }}" hidden>
                                {% endfor %}
                            {% endfor %}
                            <td>{{ appl.getDescription }}</td>

                            <td> {# LEDIGE BRYGGER #}
                                <select class="form-control" name="docking" id="docking" required>
                                    <option value="0" selected disabled hidden>-</option>
                                    {% for dock in docks if dock %}
                                        {% set number = 0 %}
                                        {% for docking in dockings if docking.getDock == dock.getDockID %}
                                            {% set number = number + 1 %}
                                            {% if docking and docking.getBoat==null and docking.getStatus==1 %}
                                                <option value="{{ docking.getDockingID }}">
                                                    {{ dock.getNickname }}-{{ number }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type='submit' name="accept" id='submit' class='btn btn-success btn-sm'
                                            value='{{ appl.getApplicationID }}'>Tildel
                                    </button>
                                    <button type='submit' name="reject" id='submit' class='btn btn-danger btn-sm'
                                            value='{{ appl.getApplicationID }}'>Avslå
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                </form>
            {% endfor %}
            {% if noApps %}
                <tr>
                    <td colspan="7">Ingen søknader om båtplasser på ventelisten</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>
        {#
                </table>
        #}
    </div>
    <br>
    <br>
{% endblock %}