{% extends "/templates/main_template.twig" %}

{% block titleText %}Båtoversikt{% endblock %}
{% block content %}

    <h4 class="text-center" style="margin-top: 2em">Båter</h4>
    <table class="table table-hover table-responsive" id="usersTable">
        <thead>
        <tr>
            <th scope="col">Båt</th>
            <th scope="col">Eier</th>
            <th scope="col">Type</th>
            <th scope="col">Produsent</th>
            <th scope="col">Model</th>
            <th scope="col">Register nr.</th>
            <th scope="col">Lengde</th>
            <th scope="col">Dybde</th>
            <th scope="col">Bredde</th>
        </tr>
        </thead>
        <tbody>
        {% set boatCount = boatsWithOwner|length %}
        {% set filteredBoats = 0 %}
        {% for boat in boatsWithOwner %}
            {% set filteredBoats = filteredBoats+1 %}
            <tr>
                <td> {{ boat.boatName }}</a></td>
                <td><a href="profile.php?userId={{ boat.userId }}">{{ boat.firstname }} {{ boat.lastname }}</td>
                <td>{{ boat.type }}</td>
                <td>{{ boat.manufacturer }}</td>
                <td>{{ boat.model }}</td>
                <td>{{ boat.boatRegisterNumber }}</td>
                <td>{{ boat.length }}</td>
                <td>{{ boat.depth }}</td>
                <td>{{ boat.width }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <span>Viser {{ filteredBoats }} av {{ boatCount }} båter </span>
    <br>
    <br>
{% endblock %}