{% extends "/templates/main_template.twig" %}

{% block titleText %}Kontakt oss{% endblock %}

{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Kontakt oss</h4>
    <hr>
    <h5 class="text-center" style="margin-top: 2em">Havnesjef</h5>
    <table class="table table-hover" id="usersTable">
        <thead>
        <tr>
            <th scope="col">Navn</th>
            <th scope="col">Mobil</th>
            <th scope="col">Telefon</th>
            <th scope="col">Epost</th>
        </tr>
        </thead>
        <tbody>
        {% for marinaBoss in marinaBosses if marinaBoss %}
            <tr>
                <td>{{ marinaBoss.getFirstname }} {{ marinaBoss.getLastname }}</td>
                <td>{{ marinaBoss.getPhone }}</td>
                <td>{% if marinaBoss.getPhone2 == "" %}
                        -
                    {% else %}
                        {{ marinaBoss.getPhone2 }}
                    {% endif %}</td>
                <td>{{ marinaBoss.getEmail }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <h5 class="text-center" style="margin-top: 2em">Bryggesjefer</h5>
    <table class="table table-hover" id="usersTable">
        <thead>
        <tr>
            <th scope="col">Brygge</th>
            <th scope="col">Navn</th>
            <th scope="col">Mobil</th>
            <th scope="col">Telefon</th>
            <th scope="col">Epost</th>
        </tr>
        </thead>
        <tbody>
        {% for dock in docks if dock %}
            <tr>
                <td> {{ dock.getNickname }}</td>
                {% for dockBoss in dockBosses if dock.getDockBoss == dockBoss.getUserID %}
                    <td>{{ dockBoss.getFirstname }} {{ dockBoss.getLastname }}</td>
                    <td>
                        {{ dockBoss.getPhone }}
                    </td>
                    <td>{% if dockBoss.getPhone2 == "" %}
                            -
                        {% else %}
                            {{ dockBoss.getPhone2 }}
                        {% endif %}</td>
                    <td>{{ dockBoss.getEmail }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}