{% extends "/templates/main_template.twig" %}

{% block titleText %}Bryggeoversikt{% endblock %}
{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Bryggeoversikt</h4>
    <hr>
    <div class="container">
        <div id="accordion">
            {% for dock in docks %}
                {% if dock and (session.user_role>=3 or dock.getDockBoss==session.user_id) %}
                    {% set number = 0 %}
                    <div class="card">
                        <div class="card-header" id="heading{{ dock.getDockID }}" style="padding: 0;">
                            <h5 class="mb-0">
                                <div class="btn-group btn-block">
                                    <button class="btn btn-block btn-link" data-toggle="collapse"
                                            style="padding: 20px 0px"
                                            data-target="#collapse{{ dock.getDockID }}" aria-expanded="true"
                                            aria-controls="collapse{{ dock.getDockID }}">
                                        Brygge: {{ dock.getNickname }}
                                    </button>
                                    {% if session.user_role>=3 %}
                                        <button class="btn btn-link dropdown-toggle"
                                                style="padding: 20px 12px;"
                                                type='button'
                                                id='dropmenuDock{{ dock.getDockID }}'
                                                data-toggle='dropdown' aria-haspopup='true'
                                                aria-expanded='false'>Endre
                                        </button>
                                        <div class='dropdown-menu'>
                                            <form method='post'>
                                                {% if dock.getStatus == 1 %}
                                                    <button class='dropdown-item' type='submit'
                                                            value='{{ dock.getDockID }}'
                                                            name='setDockUnavailable'>
                                                        Sett 'utilgjengelig'
                                                    </button>
                                                {% else %}
                                                    <button class='dropdown-item' type='submit'
                                                            value='{{ dock.getDockID }}'
                                                            name='setDockAvailable'>
                                                        Sett 'ok'
                                                    </button>
                                                {% endif %}
                                                <button class='dropdown-item btn-danger'
                                                        type='submit'
                                                        value='{{ dock.getDockID }}'
                                                        name='deleteDock'>
                                                    Fjern brygge
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </h5>
                        </div>
                        <div class="table-responsive-md">
                            <div id="collapse{{ dock.getDockID }}" class="collapse"
                                 aria-labelledby="heading{{ dock.getDockID }}" data-parent="#accordion">
                                <div class="card-body" style="min-width:800px">
                                    {% if dock.getDockBoss %}
                                    <a class="btn-outline-info" href="profile.php?userId={{ dock.getDockBoss }}">
                                        Bryggesjef:
                                        {% for user in users if dock.getDockBoss == user.getUserID %}
                                            {{ user.getFirstname }} {{ user.getLastname }}
                                        {% endfor %}
                                        {% endif %}</a>
                                    {% if session.user_role >=3 %}
                                        <a class="float-sm-right">
                                        Status:
                                        {% if dock.getStatus == 1 %}Ok{% else %}Utilgjengelig</a>
                                        {% endif %}
                                    {% endif %}
                                    </a>
                                    <table class='table table-hover' style='table-layout: fixed'>
                                        <thead>
                                        <tr>
                                            <th scope='col'>Plass</th>
                                            <th scope='col'>Leietaker</th>
                                            <th scope='col'>Båt</th>
                                            <th scope='col'>Status</th>
                                            {% if session.user_role >=3 %}
                                                <th scope='col'>Funksjon</th>{% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for docking in dockings %}
                                            {% if docking.getDock == dock.getDockID %}
                                                {% set number = number + 1 %}

                                                {# Framleie.class #}
                                                {% set theBoat = 0 %}
                                                {% set isFramleie = false %}
                                                {% for framleie in framleieListe if isFramleie ==false and docking.getBoat %}
                                                    {% if framleie.getDockingID == docking.getDockingID %}
                                                        {% set isFramleie = true %}
                                                        {% set theBoat = framleie.getBoat %}
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                                <tr {% if docking.getStatus == 0 %} class="table-warning" {% elseif isFramleie %} class="table-info" {% elseif docking.getBoat %} class="table-secondary" {% else %} {% endif %}>
                                                    <td>{{ dock.getNickname }}-{{ number }}</td>
                                                    {% if docking.getBoat %}

                                                        {# Faktisk /Framleie.class interchange #}
                                                        {% if theBoat ==0 %}
                                                            {% set theBoat = docking.getBoat %}
                                                        {% endif %}

                                                        {# Skriv ut info om båt og båteier #}
                                                        {% for boat in boats if theBoat == boat.getBoatId %}
                                                            {% for user in users if boat.getUserId==user.getUserID %}
                                                                <td>

                                                                    {% if session.user_role==2 %}
                                                                        {{ user.getFirstname }} {{ user.getLastname }}
                                                                    {% else %}<a
                                                                        class="btn {{ isFramleie?'btn-link':'btn-link' }} d-inline"
                                                                        style="padding:0;border: 0;"
                                                                        href="profile.php?userId={{ boat.getUserId }}">{{ user.getFirstname }} {{ user.getLastname }} </a>
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ boat.getBoatName }}</td>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <td colspan="2"> Ledig</td>{% endif %}

                                                    <td>{% if isFramleie %}Status: Framleid
                                                            <br>Status: {% endif %}{% if docking.getStatus == 1 %}Ok{% else %}Utilgjengelig{% endif %}
                                                    </td>
                                                    {% if session.user_role >=3 %}
                                                        <td>
                                                            <div class='dropdown'>
                                                                <button class='btn btn-secondary dropdown-toggle'
                                                                        type='button'
                                                                        id='dropmenuDocking{{ docking.getDockingID }}'
                                                                        data-toggle='dropdown' aria-haspopup='true'
                                                                        aria-expanded='false'>
                                                                    Meny
                                                                </button>
                                                                <div class='dropdown-menu'>
                                                                    <form method='post'>
                                                                        {% if docking.getStatus == 1 %}
                                                                            <button class='dropdown-item' type='submit'
                                                                                    value='{{ docking.getDockingID }}'
                                                                                    name='setUnavailable'>
                                                                                Sett 'utilgjengelig'
                                                                            </button>
                                                                        {% else %}
                                                                            <button class='dropdown-item' type='submit'
                                                                                    value='{{ docking.getDockingID }}'
                                                                                    name='setAvailable'>
                                                                                Sett 'ok'
                                                                            </button>
                                                                        {% endif %}
                                                                        <button class='dropdown-item btn-danger'
                                                                                type='submit'
                                                                                value='{{ docking.getDockingID }}'
                                                                                name='deleteDocking'>
                                                                            Fjern båtplass
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <hr>
                                    {% if session.user_role>=3 %}
                                        <form method='post'>
                                            <div class="d-flex justify-content-center ">
                                                <button id='dock{{ dock.getDockID }}' type='submit' name='addDocking'
                                                        value='{{ dock.getDockID }}'
                                                        class='btn btn-outline-primary'>Legg til ny
                                                    båtplass
                                                </button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <br>
        <h5 class="text-center">Legg til ny brygge</h5>
        <hr>
        <br>
        {% if session.user_role>=3 %}
            <div class="container col-md-6">
                <form method="post">
                    <div class="row align-content-center">
                        <div class="col">
                            <input class="form-control" type="text" name="dockNickname"
                                   placeholder="Skriv inn navn på ny brygge">
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-primary" name="addDock">Legg til</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        {% endif %}
        <hr>
        <br>
        <br>
    </div>
    </body>
{% endblock %}