{% extends "/templates/main_template.twig" %}

{% block titleText %}Søknad om båtplass{% endblock %}
{% block content %}

    <h4 class="text-center" style="margin-top: 2em">Søk om båtplass</h4>
    <hr>
    <br>
    <div class="container col-md-6">
        <form method="post">
            <p style="color:indianred"> {{ dockingApplicationFeedbackBad }}</p>
            <p style="color:green">{{ dockingApplicationFeedbackGood }}</p>
            <div class="form-group">
                <select class="form-control" name="boatID" id="boatIdInput" required>
                    {% if allBoatsBasedOnUser|length == 0 %}
                        <option value="0" selected disabled hidden>Ingen båter tilgjengelig</option>
                    {% else %}
                        <option value="0" selected disabled hidden>Velg en båt</option>
                    {% endif %}
                    {% for boat in allBoatsBasedOnUser %}
                        <option value="{{ boat.boatID }}">{{ boat.boatName }}{% if boat.boatRegisterNumber is defined and boat.boatRegisterNumber is not null %}, {{ boat.boatRegisterNumber }} {% endif %}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="descriptionInput">Beskrivelse</label>
                <textarea class="form-control" id="descriptionInput" rows="3"></textarea>
            </div>
            <br>
            {% if allBoatsBasedOnUser|length == 0 %}
                <button name="" class="btn btn-outline-primary" disabled>Ingen båt valgt</button>
            {% else %}
                <button name="dockingApplicationSendInnBtn" type="submit" class="btn btn-primary">Send søknad</button>
            {% endif %}
        </form>
        <br><br>
    </div>
{% endblock %}