{% extends "/templates/main_template.twig" %}

{% block titleText %}Glemt passord{% endblock %}
{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Glemt passord</h4>
    <div class="container col-md-6">
        <form method="post" style="margin-top: 2em">
            <div class="form-group">
                <input name="emailInput" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Epost">
            </div>
            <div class="row">
                <div class="col">
                    <p style="color: green">{{ forgotFeedback }}</p>
                </div>
                <div class="col">
                    <button name="forgotBtn" type="submit" class="btn btn-primary btn-block">Be om nytt passord
                    </button>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <br>
            </div>
        </form>
    </div>
{% endblock %}