{% extends "/templates/main_template.twig" %}

{% block alert %}
    {% if alertType != '' %}
        <div class="alert {{ alertType }}" role="alert">
            {{ alertText }}
        </div>
    {% endif %}
{% endblock %}
{% block titleText %}Hjemmeside{% endblock %}
{% block header %}
    <style>
        header {
            position: relative;
            background-color: black;
            height: 100vh;
            min-height: 25rem;
            width: 100%;
            overflow: hidden;
        }

        header video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            z-index: 0;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        header .container {
            position: relative;
            z-index: 2;
        }

        header .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: 1;
        }

        @media (pointer: coarse) and (hover: none) {
            header {
                background: url("assets/RonvikaMarina.jpg") lightskyblue no-repeat center center scroll;
                background-size: cover;
            }

            header video {
                display: none;
            }
        }
    </style>
    <header style="position:fixed; z-index: -1;top:0">
        <div class="overlay"></div>
        <video width='100%' playsinline autoplay muted loop=>
            <source src="assets/marina2.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Skrei Marina</h1>
                    <p class="lead mb-0">Bodøfolkets foretrukne småbåthavn</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div style="margin-top: 100vh">
        <div style="background-color: rgba(233,236,239,1)" class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h2>Om småbåthavnen</h2>
                <br>
                <p>SkreiMarina har siden 1939 vært Bodøfolkets foretrukne småbåthavn, skjermet og svært nært sentrum av
                    byen. I dag er det den største småbåthavnen i Bodø, med hele 5 brygger og totalt 98 båtplasser.</p>
                Det er nylig åpnet en ny brygge og det er, per 18. mars 2019, flere ledige båtplasser!</p>
                {% if session.user_role >= 1 %}
                    <a class="btn btn-primary" align="center" href="dockingApplication.php" role="button"
                       data-ytta-id="-">Søk om båtplass i dag!
                    </a>
                {% else %}
                    <a class="btn btn-primary" align="center" href="registerUser.php" role="button" data-ytta-id="-">Bli
                        medlem i dag!
                    </a>
                {% endif %}
            </div>
            <br><br>
            <br>
            <div class="col-sm-8 mx-auto">
                <h4>Fasiliteter</h4>
                <br>
                <p>Marinaen har plass til et stort spekteret av båtstørrelser, helt opp til ca 60 fot. De aller største
                    båtene er plassert på flytemoloen, der de har betongbrygger som utriggere. Det er også 15 utriggere
                    med lengde på 12 meter og bredde på 1 meter på flytemoloen.</p>
                <br>
                <h6>Marianen består av følgende:</h6>
                <ul>
                    <li> 5 flytemoloer som er koblet sammen til en total lengde på 250 meter.</li>
                    <li> Nede i flytemoloen er det laget til 123 boder som er til salgs for båteierne.</li>
                    <li> 470 meter med betongbrygger, type rennebrygge med en totalvekt på 560 tonn.</li>
                    <li> 168 meter med stålbrygger</li>
                    <li> Totalt er det plass til 300 båter i anlegget.</li>
                </ul>
                <br><br>
                <h6>Sikkerhet</h6>
                <p>Anlegget har svært høyt fokus på sikkerhet. Det er sklisikre utriggere og brygger, samt et stort
                    antall
                    redningsstiger på både brygger og utriggere. Dette gjør at båteierene kommer seg opp fra vannet på
                    en
                    rask måte dersom de skulle være uheldig å falle i vannet.</p>
            </div>
        </div>
    </div>
{% endblock %}