{% extends "/templates/main_template.twig" %}

{% block alert %}
{% endblock %}

{% block titleText %}Fakturaer{% endblock %}
{% block content %}

    <h4 class="text-center" style="margin-top: 2em">Fakturaer</h4>
    <hr>
    <br>
    <div class="container col-md-6">
        <form method="post" action="invoice.php">
            <button class="btn btn-outline-primary btn btn-block" name="exportInvoice">Eksporter ubetalte fakturaer
            </button>
        </form>
    </div>
    <br>
    <div class="container col-md-6">
        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
            Opprett ny faktura
        </button>
        <div class="accordion" id="accordionExample">
            <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form method='post' action="invoice.php">
                        <div class="form-group">
                            <select name="selectedUser" class="form-control">
                                {% for user in users %}
                                    <option value="{{ user.userID }}">{{ user.firstname }} {{ user.lastname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="paymentAmount" class="form-control">
                                <option value="{{ settings.memberPayment }}">{{ settings.memberPayment }}kr:
                                    Medlemskontigent
                                </option>
                                <option value="{{ settings.dockingPayment }}">{{ settings.dockingPayment }}kr:
                                    Kjøp av båtplass
                                </option>
                            </select>
                        </div>
                        <button class="btn-block btn-sm btn-outline-primary" name="addInvoice">Opprett</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-sm table-hover table-responsive-sm" id="invoicesTable">
        <thead>
        <tr>
            <th scope="col">Faktura</th>
            <th scope="col">Beløp</th>
            <th scope="col">
                <div class="btn-group">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            style="padding:0;color: #212529;font-weight: bold;">
                        Status
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item {{ filterStatusPaid==-1 ?'active':'' }}" href="?">Alle</a>
                        <a class="dropdown-item {{ filterStatusPaid==1 ?'active':'' }}" href="?statusPaid=1">Betalt</a>
                        <a class="dropdown-item {{ filterStatusPaid==0 ?'active':'' }}"
                           href="?statusPaid=0">Ubetalt</a>
                    </div>
                </div>
            </th>
            <th scope="col">Navn</th>
            <th scope="col">Epost</th>
            <th scope="col">Telefon</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set invoiceCount = invoices|length %}
        {% set filteredInvoices = 0 %}
        {% for invoice in invoices %}
            {% if invoice %}
                {% if filterStatusPaid==-1 or ( (filterStatusPaid == 0 and invoice.datePaid is null) or (filterStatusPaid==1 and invoice.datePaid)) %}
                    {% set filteredInvoices = filteredInvoices+1 %}

                    {% set status = 'Ubetalt' %}
                    {% if invoice.datePaid %}
                        {% set status = invoice.datePaid %}
                    {% endif %}
                    <tr>
                        <td>{{ invoice.invoiceID }}</td>
                        <td>{{ invoice.outstanding }}kr</td>
                        <th scope="row">{{ status }}</th>
                        <td><a class="btn btn-link"
                               href="profile.php?userId={{ invoice.userID }}">{{ invoice.firstname }} {{ invoice.lastname }}</a>
                        </td>
                        <td>{{ invoice.email }}</td>
                        <td>{{ invoice.phone }}</td>
                        <td>
                            {% if invoice.datePaid is null %}
                                <button type="button" onclick="timeout({{ invoice.invoiceID }})"
                                        class="btn-block btn-sm btn-primary"
                                        data-toggle="modal"
                                        data-target="#setDate">Sett som betalt
                                </button>
                            {% else %}
                                <button id='buttonPaid' type="button"
                                        class="btn-block btn-outline-secondary btn-sm "
                                        disabled>Betalt
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <span>Viser {{ filteredInvoices }} av {{ invoiceCount }} fakturaer </span>
    <br>
    <div class="modal fade" id="setDate" tabindex="-1" role="dialog"
         aria-labelledby="export_info_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" action="invoice.php">
                    <div class="modal-header">
                        <h5 class="modal-title" id="export_info_id">Velg når fakturaen ble betalt</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input name="dateInput" type="date" class="form-control" id="dateInput"
                               aria-describedby="dateHelp"
                               placeholder="Feks: 25.03.2019">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" id="invoiceID" value="" name="saveDate">Lagre
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <script>
        function timeout(int) {
            setTimeout(setModalInvoiceID, 1000, int);
        }

        function setModalInvoiceID(int) {
            let button = document.getElementById("invoiceID");
            button.value = int;
        }
    </script>
{% endblock %}