{% extends "/templates/main_template.twig" %}

    {% block alert %}
        {% if loginFeedback %}
            <div class="alert alert-danger" role="alert">
                {{ loginFeedback }}
            </div>
        {% endif %}
    {% endblock %}

{% block titleText %}Logg inn{% endblock %}
{% block content %}

    <div class="container col-md-6">
        <h4 class="text-center" style="margin-top: 2em">Logg inn</h4>
        <br>
        <form action="login.php" method="post">
            <div class="form-group">
                {% if email == null %}
                <input name="emailInput" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Epost">
                {% else %}
                <input name="emailInput" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" value="{{ email }}" placeholder="Epost">
                {% endif %}
            </div>
            <div class="form-group">
                <input name="passwordInput" type="password" class="form-control" id="passwordInput"
                       placeholder="Passord">
            </div>
            <div class="row">
                <div class="col">
                    <button name="logInBtn" class="btn btn-primary btn-block">
                        Logg inn
                    </button>
                </div>
                <div class="col">
                    <button name="registerBtn" class="btn btn-outline-primary btn-block">Registrer deg</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="forgotPassword.php">Glemt passord</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}