<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="//iconandroid-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title> {{ marinaName }} - {% block titleText %}{% endblock %}</title>

    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="js/bootbox.min.js"></script>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08" style="">
        <ul class="navbar-nav">

            {# Logo text #}
            <a class="navbar-brand" href="index.php">{{ marinaName }}</a>

            {# Menu for everyone #}
            {# <li class="nav-item">
                 <a class="nav-link" href="index.php" data-ytta-id="-">Forside</a>
             </li>#}

            {# If logged in #}
            {% if session %}
                {% if session.user_role >=1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="profile.php" data-ytta-id="-">Min side</a>
                    </li>

                    {# If bryggesjef or higher. #}
                    {% if session.user_role >=2 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" data-ytta-id="-">Oversikt</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown08">

                                {# If havnesjef or higher. #}
                                {% if session.user_role >=3 %}
                                    <a class="dropdown-item" href="BoatsOverview.php" data-ytta-id="-">Båter</a>
                                {% endif %}
                                <a class="dropdown-item" href="dockingsOverview.php" data-ytta-id="-">Brygger</a>
                                <a class="dropdown-item" href="users.php" data-ytta-id="-">Medlemmer</a>
                            </div>
                        </li>

                        {# If havnesjef or higher. #}
                        {% if session.user_role >=3 %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" data-ytta-id="-">Administrasjon</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown08">
                                    <a class="dropdown-item" href="applications.php" data-ytta-id="-">Søknader</a>
                                    <a class="dropdown-item" href="invoice.php" data-ytta-id="-">Betalinger</a>
                                    <a class="dropdown-item" href="voluntaryWork.php" data-ytta-id="-">Dugnader</a>
                                    <a class="dropdown-item" href="GlobalSettings.php"
                                       data-ytta-id="-">Innstillinger</a>
                                </div>
                            </li>
                        {% endif %}

                        {# If normal/verified user #}
                    {% elseif session.user_role == 1 %}

                        {# If non-verified user #}
                    {% elseif session.user_role == 0 %}
                        <li class="nav-item">
                            <a class="nav-link" href="?logout" data-ytta-id="-">Logg ut</a>
                        </li>
                    {% endif %}

                    {# If logged in and verified #}
                    <li class="nav-item">
                        <a class="nav-link" href="contactInfo.php" data-ytta-id="-">Kontakt oss</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?logout" data-ytta-id="-">Logg ut</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="?logout" data-ytta-id="-">Logg ut</a>
                    </li>
                {% endif %}

                {# If not logged in #}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="registerUser.php" data-ytta-id="-">Bli medlem!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.php" data-ytta-id="-">Logg inn</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block header %}{% endblock %}

<div class="container">
    <main role="main" style="margin-top: 1vh">
        {% block alert %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>