{% extends "/templates/main_template.twig" %}

{% block titleText %}Redigere båt{% endblock %}
{% block content %}

    <h4 class="text-center" style="margin-top: 2em">Registrer båt</h4>
    <hr>
    <br>
    <div class="container col-md-6">
        <form method="post" action="modifyBoat.php">
            <input name="boatId" type="hidden" value="{{ boat.getBoatId }} ">

            <div class="form-group">
                <input name="boatNameInput" type="text" class="form-control" id="boatnameInput1"
                       aria-describedby="boatnameHelp" value="{{ boat.getBoatName }}" placeholder="Båtnavn*" required>
            </div>
            <div class="form-group">
                <input name="boatRegisterNumberInput" type="text" class="form-control" id="boatRegisternumberId"
                       aria-describedby="boatRegisterHelp" value="{{ boat.getBoatRegisterNumber }}"
                       placeholder="Registreringsnummer*" required>
            </div>
            <div class="form-group">
                <input name="manufactorInput" type="text" class="form-control" id="manufactorId"
                       aria-describedby="manufactorHelp" value="{{ boat.getManufacturer }}"
                       placeholder="Merke">
            </div>
            <div class="form-group">
                <input name="modelNameInput" type="text" class="form-control" id="modelnameId"
                       aria-describedby="modelHelp" value="{{ boat.getModel }}"
                       placeholder="Modell">
            </div>
            <div class="form-group">
                <input name="typeInput" type="text" class="form-control" id="typeId" aria-describedby="typeHelp"
                       value="{{ boat.getType }}"
                       placeholder="Type">
            </div>
            <div class="form-group">
                <input name="lengthInput" type="number" class="form-control" id="lengthId"
                       aria-describedby="lengthHelp" value="{{ boat.getLength }}" placeholder="Lengde* (meter)"
                       required>
            </div>
            <div class="form-group">
                <input name="widthInput" type="number" class="form-control" id="widthId"
                       aria-describedby="widthHelp" value="{{ boat.getWidth }}" placeholder="Bredde* (meter)" required>
            </div>
            <div class="form-group">
                <input name="depthInput" type="number" class="form-control" id="depthInputId"
                       aria-describedby="depthHelp" value="{{ boat.getDepth }}" placeholder="Dybde* (meter)" required>
            </div>
            <div class="col" align="right">
                <label style="color: indianred">Felt med * må fylles ut!</label>
            </div>
            <button name="confirmChanges" class="btn btn-primary">Bekreft</button>
            <br><br>
        </form>
    </div>
{% endblock %}