{% extends "/templates/main_template.twig" %}

    {% block alert %}
    {% endblock %}

{% block titleText %}{{ user.getFirstname }} {{ user.getLastname }}{% endblock %}

{% block content %}
    {% set number = 0 %}
    {% if user %}
        {% set role = 'No role' %}
        {% if user.getRole==0 %}
            {% set role= 'Uverifisert' %}
        {% elseif user.getRole ==1 %}
            {% set role = 'Medlem' %}
        {% elseif user.getRole == 2 %}
            {% set role = 'Bryggesjef' %}
        {% elseif user.getRole == 3 %}
            {% set role = 'Havnesjef' %}
        {% elseif user.getRole == 4 %}
            {% set role = 'Superbruker' %}
        {% endif %}
        <style>
            .card {

            }

            .card-body {
                padding: 0;
            }

            .table {
                margin-bottom: 0;
            }
        </style>
        <div class="container ">
            <br>
            <div class='row justify-content-md-center'>


                <div class="card m-3">
                    <div class="card-body">
                        <div class='text-center mb-4'>
                            <img src='https://img.icons8.com/cotton/150/000000/gender-neutral-user.png'>
                            <h2>
                                <label value='navn'>{{ user.getFirstname }} {{ user.getLastname }} </label>
                            </h2>
                        </div>
                        <table class='table-responsive table table-striped table-bordered' style="margin-bottom: 0">
                            <tbody>
                            <tr>
                                <th scope='row'>Navn:</th>
                                <td class="col-1">{{ user.getFirstname }} {{ user.getLastname }} </td>
                            </tr>
                            <tr>
                                <th scope='row'>Epost:</th>
                                <td class="col-1">{{ user.getEmail }}</td>
                            </tr>
                            <tr>
                                <th scope='row'>Mobil:</th>
                                <td class="col-1">{{ user.getPhone }}</td>
                            </tr>
                            {% if user.getPhone2 %}
                                <tr>
                                    <th scope='row'>Telefon:</th>
                                    <td class="col-1">{{ user.getPhone2 }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope='row'>Postadresse:</th>
                                <td class="col-1">{{ userAddress.getStreetAddress }}
                                    , {{ userAddress.getPostcode }} {{ userAddress.getCity }}</td>
                            </tr>
                            <tr>
                                <th scope='row'>Registrert:</th>
                                <td class="col-1">{{ user.getDatRegistered }}</td>
                            </tr>
                            <tr>
                                <th scope='row'>Rolle:</th>
                                <td class="col-1">{{ role }}</td>
                            </tr>
                            {% if user.getUserID == activeUser %}
                            <tr>
                                <th scope='row'>Passord:</th>
                                <td class="col-1">
                                    <button id='collapseBtn' data-toggle='collapse' data-target='#dock'
                                            class="btn btn-outline-primary btn-sm btn-block .m-1 / m-sm-1"
                                            aria-expanded='true'>Bytt passord
                                    </button>
                                    <div id='dock' class='collapse'>
                                        <form method="post">
                                            <div class="form-group ">
                                                <div class="form-group">
                                                    <br>
                                                    <label for="passwordInput">Nåværende passord</label>
                                                    <input name="oldPassword" type="password" class="form-control"
                                                           id="oldPassword">
                                                </div>
                                                <label for="newPasswordInputOne">Nytt passord</label>
                                                <input name="newPasswordInputOne" type="password" class="form-control"
                                                       id="newPasswordInputOne">
                                            </div>
                                            <div class="form-group">
                                                <label for="newPasswordInputTwo">Bekreft nytt passord</label>
                                                <input name="newPasswordInputTwo" type="password" class="form-control"
                                                       id="newPasswordInputTwo">
                                            </div>
                                            <button name="changePassword" type="submit" class="btn btn-success"><span
                                                        class="glyphicon glyphicon-set-down"></span>Bekreft nytt passord
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope='row'>Rediger:</th>
                                <td class="col-1">
                                    <form method="post">
                                        <button id='editProfile' name="editProfile"
                                                class="btn btn-outline-primary btn-sm btn-block .m-1 / m-sm-1"
                                                aria-expanded='true'>Rediger brukerinfo
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <th scope='row'>Personvern:</th>
                                <td class="col-1">
                                    <form method="post" action="gdprExportAndDeleteUser.php">

                                        <div class="w-100 btn-group .m-1 / m-sm-1" role="group">
                                            <button type="button" class="btn-block btn-sm btn-outline-primary"
                                                    data-toggle="modal"
                                                    data-target="#export_info_id">Eksporter informasjon
                                            </button>
                                            <div class="modal fade" id="export_info_id" tabindex="-1" role="dialog"
                                                 aria-labelledby="export_info_label" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="export_info_id">Eksporter
                                                                informasjon</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Vil du ha tilsendt all informasjon som er lagret om din
                                                            bruker?
                                                            Informasjonen vil bli sendt til din registrerte
                                                            epost-adresse.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Avbryt
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    value="{{ user.getUserID }}"
                                                                    name="buttonExportUserInfo">Send
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button"
                                                    class="btn-block btn-sm btn-outline-danger float-sm-right"
                                                    data-toggle="modal"
                                                    data-target="#delete_user_id">Slett bruker
                                            </button>
                                            <div class="modal fade" id="delete_user_id" tabindex="-1" role="dialog"
                                                 aria-labelledby="delete_user_label" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="delete_user_label">Slett
                                                                bruker</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Vil du slette bruker og all tilhørende informasjon?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Avbryt
                                                            </button>
                                                            <button type="submit" class="btn btn-danger"
                                                                    name="buttonDeleteUserInfo"
                                                                    value="{{ user.getUserID }}">Slett
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                                {% endif %}
                            <tr>
                                <th scope='row'>Faktura</th>
                                <td class="col-1">
                                    <div class="w-100 btn-group .m-1 / m-sm-1" role="group">
                                        {% if unpaidInvoices|length >0 %}
                                            <button id='collapseBtn' data-toggle="modal" data-target="#unpaidInvoices"
                                                    class="btn-block btn-sm btn-outline-primary"
                                                    aria-expanded='true'>Utestående fakturaer
                                            </button>
                                        {% else %}
                                            <button id='collapseBtn' data-toggle="modal" data-target="#unpaidInvoices"
                                                    class="btn-block btn-sm btn-outline-secondary "
                                                    aria-expanded='true' disabled>Ingen utestående
                                            </button>
                                        {% endif %}

                                        <div class="modal fade" id="unpaidInvoices" tabindex="-1" role="dialog"
                                             aria-labelledby="export_info_label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="export_info_id">Fakturaer</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class='table table-bordered table-striped table-hover'>
                                                            <thead>
                                                            <tr>
                                                                <th>Beløp</th>
                                                                <th>Betales innen</th>
                                                                <th>Status</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for unpaid in unpaidInvoices %}
                                                                {% if date(unpaid.date) < date() %}
                                                                    <tr class="table-danger">
                                                                {% else %}
                                                                    <tr class="table-info">
                                                                {% endif %}
                                                                <td>{{ unpaid.outstanding }}</td>
                                                                <td>{{ unpaid.date }}</td>
                                                                <td>Ubetalt</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Avbryt
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if paidInvoices|length >0 %}
                                            <button type="button" class="btn-block btn-sm btn-outline-primary"
                                                    data-toggle="modal"
                                                    data-target="#allInvoices">Betalte
                                            </button>
                                        {% else %}
                                            <button type="button" disabled
                                                    class=" btn-block btn-sm btn-outline-secondary "
                                                    data-toggle="modal"
                                                    data-target="#allInvoices">Ingen betalte fakturaer
                                            </button>
                                        {% endif %}
                                        <div class="modal fade" id="allInvoices" tabindex="-1" role="dialog"
                                             aria-labelledby="export_info_label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="export_info_id">Betalte
                                                            fakturaer</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class='table table-bordered table-striped table-hover'>
                                                            <thead>
                                                            <th>Beløp</th>
                                                            <th>Betalt</th>
                                                            <th>Status</th>
                                                            </thead>
                                                            <tbody>
                                                            {% for paid in paidInvoices %}
                                                                <tr class="table-success">
                                                                    <td>{{ paid.outstanding }}</td>
                                                                    <td>{{ paid.datePaid }}</td>
                                                                    <td>Betalt</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Avbryt
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card w-100 m-3">
                    <h3 class="card-header">Båter</h3>
                    <div class="card-body">
                        <table class='table-responsive table table-striped table-bordered table-hover'>
                            <thead>
                            <th>#</th>
                            <th>Navn</th>
                            <th>RegNr.</th>
                            <th>Merke</th>
                            <th>Modell</th>
                            <th>Type</th>
                            <th>Lengde</th>
                            <th>Bredde</th>
                            <th>Dybde</th>
                            <th>Meny</th>
                            {% if sessionRole == 3 or  sessionRole == 4 %}
                                <th>Gi båtplass</th>
                            {% endif %}

                            </thead>
                            <tbody>
                            {% set noBoats = true %}
                            {% set numberId = 0 %}
                            {% for boat in boats if boat and boat.getUserId== user.getUserID %}
                                {% set numberId = numberId + 1 %}
                                {% set noBoats = false %}
                                {% set boatId = boat.getBoatId %}
                                <tr>
                                    <th scope="row">{{ numberId }}</th>
                                    <td class="">{{ boat.getBoatName }}</td>
                                    <td class="">{{ boat.getBoatRegisterNumber }}</td>
                                    <td class="">{{ boat.getManufacturer }}</td>
                                    <td class="">{{ boat.getModel }}</td>
                                    <td class="">{{ boat.getType }}</td>
                                    <td class="">{{ boat.getLength }}</td>
                                    <td class="">{{ boat.getWidth }}</td>
                                    <td class="">{{ boat.getDepth }}</td>
                                    <td class="">

                                        <div class="btn-group dropdown">

                                            <button type="button"
                                                    class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Valg
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>

                                            <form method="post" action="profile.php">
                                                <div class="dropdown-menu">
                                                    <!-- Dropdown menu links -->
                                                    <button formaction="modifyBoat.php" class='dropdown-item'
                                                            type='submit'
                                                            value='{{ boatId }}'
                                                            name='editBoat'>
                                                        Redigere båt
                                                    </button>
                                                    <button class='dropdown-item' type='button'
                                                            data-toggle="modal"
                                                            data-target="#delete_boat_id{{ boatId }}">
                                                        Slett
                                                    </button>
                                                </div>

                                                <div class="modal fade" id="delete_boat_id{{ boatId }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="delete_boat_label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="delete_boat_id">Slette
                                                                    båt</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Er du sikker på at du vil slette båten?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Avbryt
                                                                </button>
                                                                <button type="submit" class="btn btn-primary btn-danger"
                                                                        value="{{ boat.getBoatId }}"
                                                                        name="deleteBoat">Slett
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    {% if sessionRole == 3 or  sessionRole == 4 %}
                                        <form method="post" name="swapDockingForm" id="swapDockingForm"
                                              action="profile.php">
                                            {% set currentDockingHasBoat=null %}
                                            {% set selectedBoatForDocking=null %}
                                            <td class="col-2">
                                                <select class="form-control mb-3" name="dockingIDAndBoatIDAndDockID"
                                                        required>
                                                    <option value="0" selected disabled hidden>Velg plass</option>
                                                    {% for dock in docks if dock %}
                                                        {% set number = 0 %}
                                                        {% for docking in dockings if docking.getDock == dock.getDockID %}
                                                            {% set number = number + 1 %}

                                                            {% if docking.getBoat == boat.getBoatId %}
                                                                {% set currentDockingHasBoat = docking.getDockingID %}
                                                                {% set selectedBoatForDocking = boat %}
                                                            {% endif %}
                                                            {% if docking and docking.getBoat==null and docking.getStatus==1 %}
                                                                <option value="{{ docking.getDockingID }}::{{ boat.getBoatID }}">
                                                                    {{ dock.getNickname }}-{{ number }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>

                                                {% if currentDockingHasBoat == null %}
                                                    <button type="submit" name="acceptAndUserID" id="acceptAndUserID"
                                                            class="btn btn-outline-primary btn-sm btn .m-1 / m-sm-1"
                                                            value="{{ user.getUserID }}">Tildel
                                                    </button>
                                                {% else %}
                                                    <button type="submit" name="swapAndUserID" id="swapAndUserID"
                                                            class="btn btn-outline-primary btn-sm btn .m-1 / m-sm-1"
                                                            value="{{ user.getUserID }}">Bytt plass
                                                    </button>
                                                {% endif %}
                                        </form>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% if noBoats %}
                                <tr>
                                    <td colspan="10">Ingen båter</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a name='registerBoat' href='registerBoat.php' class='btn btn-primary'><span
                                    class="glyphicon glyphicon-plus-sign"></span>Registrer ny båt</a>
                    </div>
                </div>
                <div class="card w-100 m-3">
                    <h3 class="card-header">Båtplasser</h3>
                    <div class="card-body">
                        <table class='table table-responsive table-striped table-hover'>
                            <thead>
                            <tr>
                                <th scope='col'>Brygge</th>
                                <th scope='col'>Plass</th>
                                <th class="col-1" scope='col'>Båt</th>
                                <th scope='col'>Status</th>
                                <th scope='col'>Meny</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set noDockings = true %}
                            {% for dock in docks if dock %}
                                {% set number = 0 %}
                                {% for docking in dockings if docking.getDock == dock.getDockID %}
                                    {# Framleie klassen #}
                                    {% set theBoat = 0 %}
                                    {% set isFramleie = false %}
                                    {% set isFramleieAppl = false %}
                                    {% set idFramleieAppl = 0 %}
                                    {% for framleie in framleieListe if isFramleie == false and docking.getBoat and framleie.getDockingID == docking.getDockingID %}
                                        {% set isFramleie = true %}
                                    {% endfor %}

                                    {# sjekk om framleie søknad innsendt #}
                                    {% for appl in allAppls if appl and (appl.getStatus==3 or appl.getStatus==4) and appl.getDockingID==docking.getDockingID %}
                                        {% set isFramleieAppl = true %}
                                        {% set idFramleieAppl = appl.getApplicationID %}
                                    {% endfor %}

                                    {% set number = number + 1 %}
                                    {% for boat in boats if (docking.getBoat == boat.getBoatId and boat.getUserId == user.getUserID and theBoat==0) %}
                                        {% set noDockings = false %}
                                        <tr{{ isFramleie?" class='table-info'":(isFramleieAppl?' class="table-info"':(docking.getStatus==0 ? ' class="table-warning "':' ')) }}>
                                            <td>Brygge: {{ dock.getNickname }}</td>
                                            <td>{{ dock.getNickname }}-{{ number }}</td>
                                            <td>{{ isFramleieAppl?(isFramleie?'Båtplass er framleid':'Framleie-søknad behandles'):boat.getBoatName }}</td>
                                            <td>{% if docking.getStatus == 1 %}Ok{% else %}Utilgjengelig{% endif %} </td>
                                            <td>
                                                <form method="post">
                                                    <div class="btn-group-vertical">
                                                        {% if isFramleieAppl == false %}
                                                            <button class='btn btn-danger' type='button'
                                                                    data-toggle="modal"
                                                                    data-target="#deleteFromDocking">
                                                                Si opp båtplass
                                                            </button>
                                                            <div class="modal fade" id="deleteFromDocking" tabindex="-1"
                                                                 role="dialog"
                                                                 aria-labelledby="delete_from_docking_label"
                                                                 aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered"
                                                                     role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="delete_boat_id">
                                                                                Si opp båtplass</h5>
                                                                            <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            Er du sikker på at du vil si opp din
                                                                            båtplass?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Avbryt
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary btn-danger"
                                                                                    value="{{ boat.getBoatId }}"
                                                                                    name="deleteBoatFromDocking">Si opp
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button name="framleie"
                                                                    value="{{ docking.getDockingID }}"
                                                                    type="submit"
                                                                    class="btn btn-dangery btn-block d-inline">Søk om
                                                                framleie
                                                            </button>
                                                        {% elseif isFramleie %}
                                                            <button name="cancelFramleie"
                                                                    value="{{ idFramleieAppl }}"
                                                                    type="submit"
                                                                    class="btn btn-dangery btn-block d-inline">Avbryt
                                                                framleie
                                                            </button>
                                                        {% elseif isFramleieAppl==true and isFramleie==false %}
                                                            <button name="cancelFramleieAppl"
                                                                    value="{{ idFramleieAppl }}"
                                                                    type="submit"
                                                                    class="btn btn-danger btn-block d-inline">Avbryt
                                                                søknad
                                                            </button>
                                                        {% endif %}
                                                    </div>

                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            {% if noDockings %}
                                <tr>
                                    <td colspan="5">Ingen båtplasser</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        <a name='dockingApplication' href='dockingApplication.php' class='btn btn-primary'><span
                                    class="glyphicon glyphicon-plus-sign"></span>Søk om båtplass</a>
                    </div>
                </div>

                <div class="card m-3 w-100">
                    <h3 class="card-header">Søknader</h3>
                    <div class="card-body">
                        <table class='table-responsive table table-striped table-hover'>
                            <thead>
                            <tr>
                                <th scope='col'>Båt</th>
                                <th class="col-1" scope='col'>Beskrivelse</th>
                                <th scope='col'>Status</th>
                                <th scope='col'>Dato</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set noApplications = true %}
                            {% for application in applications %}
                                {% set noApplications = false %}
                                <tr>
                                    <td>{{ application.boatName }}</td>
                                    <td>{{ application.description }}</td>
                                    {% if application.status == 0 %}
                                        <td>Plassering i ventelisten: {{ application.position }}.</td>
                                    {% elseif application.status == 1 %}
                                        <td>Søknad godkjent.</td>
                                    {% elseif application.status == 2 %}
                                        <td>Søknad godkjent, midlertidig framleie.</td>
                                    {% elseif application.status == 3 %}
                                        <td>Framleiesøknad, til behandling.</td>
                                    {% elseif application.status == 4 %}
                                        <td>Framleiesøknad, godkjent.</td>
                                    {% endif %}
                                    <td>{{ application.date }}</td>
                                </tr>
                            {% endfor %}
                            {% if noApplications %}
                                <tr>
                                    <td colspan="4">Ingen registrerte søknader</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a name='dockingApplication' href='dockingApplication.php' class='btn btn-primary'><span
                                    class="glyphicon glyphicon-plus-sign"></span>Søk om båtplass</a>
                    </div>
                </div>


                <div class="card m-3 w-100">
                    <h3 class="card-header">Dugnader</h3>
                    <div class="card-body">
                        <table class='table table-responsive table-striped table-hover'>
                            <thead>
                            <tr>
                                <th scope='col'>Timer</th>
                                <th class="col-1" scope='col'>Beskrivelse</th>
                                <th scope='col'>Dato</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set noWork = true %}
                            {% set hoursWorked = 0 %}
                            {% for work in userWork %}
                                {% set noWork = false %}
                                {% set hoursWorked = hoursWorked + work.hoursRegistered %}
                                <tr>
                                    <td>{{ work.hoursRegistered }}</td>
                                    <td>{{ work.description }}</td>
                                    <td>{{ work.date }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3">Antall timer jobbet: <b>{{ hoursWorked }}</b></td>
                            </tr>
                            {% if noWork %}
                                <tr>
                                    <td colspan="3">Ingen registrerte dugnader</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        <a name='dockingApplication' href='registerVoluntaryWork.php' class='btn btn-primary'><span
                                    class="glyphicon glyphicon-plus-sign"></span>Registrer dugnad</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}