{% extends "/templates/main_template.twig" %}

{% block titleText %}Registrer bruker{% endblock %}

{% block alert %}
    {% if not feedbackValidated %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{ feedbackTitle }}</h4>
            <p>{{ feedbackText }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container col-md-6">
        <form method="post" class="needs-validation" novalidate
              oninput='pwdInput2.setCustomValidity(pwdInput1.value !== pwdInput2.value ? "Passordene er ikke like" : "")'>
            <h4 class="text-center" style="margin-top: 2em">Registrer bruker</h4>
            <br>
            {#Fornavn og etternavn #}
            <div class="row">
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="firstNameInput" type="text" class="form-control" id="firstnameinput"
                               aria-describedby="firstnameHelp" placeholder="Fornavn*" maxlength="20"
                               pattern="^[A-zæøåÆØÅ- ]{1,}$" required>
                        <div class="invalid-tooltip">
                            Må fylles inn
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="lastNameInput" type="text" class="form-control" id="lastnameinput"
                               aria-describedby="lastnameHelp" placeholder="Etternavn*" pattern="^[A-zæøåÆØÅ-]{1,}$"
                               maxlength="20" required>
                        <div class="invalid-tooltip">
                            Må fylles inn
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {#Epost #}
            <div class="row">
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="emailInput" type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Epost*" required>
                        <div class="invalid-tooltip">
                            Må fylles inn
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% if session.user_role <3 %}
                <div class="row" align="left">
                    <div class="col" align="center">
                        <small>Passordet må inneholde minst 8 tegn hvorav ett tall, en stor og en liten bokstav
                        </small>
                    </div>
                </div>
                <br>
            {% endif %}
            {#Passord og gjenta passord #}
            <div class="row">
                {% if session.user_role >=3 %}
                    <div class="col" align="center"><p>Passord genereres automatisk og sendes på mail til bruker</p>
                    </div>
                {% else %}
                    <div class="col">
                        <div class="form-group" style="position:relative">
                            <input name="pwdInput1" type="password" class="form-control" id="pwdInput1"
                                   aria-describedby="passwordHelp"
                                   placeholder="Passord*" pattern="(?=.*\d)(?=.*[a-zæøå])(?=.*[A-ZÆØÅ]).{8,}"
                                   required>
                            <div class="valid-tooltip">
                                Godkjent passord
                            </div>
                            <div class="invalid-tooltip">
                                Ikke gyldig
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" style="position:relative">
                            <input name="pwdInput2" type="password" class="form-control" id="pwdInput2"
                                   aria-describedby="passwordHelp"
                                   placeholder="Gjenta passord*" pattern="(?=.*\d)(?=.*[a-zæøå])(?=.*[A-ZÆØÅ]).{8,}"
                                   required>
                            <div class="invalid-tooltip">
                                Passordene er ikke like
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <hr>
            {# Tlf 1 og 2 #}
            <div class="row">
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="phoneInputOne" type="tel" class="form-control" id="phone1Input"
                               aria-describedby="phoneHelp" placeholder="Mobilnummer*" pattern="[0-9]{8}"
                               required="required">
                        <div class="invalid-tooltip">
                            Må fylles inn
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="phoneInputTwo" type="tel" class="form-control" id="phone2Input"
                               aria-describedby="phoneHelp" placeholder="Telefonnummer" pattern="[0-9]{8}">
                    </div>
                </div>
            </div>
            <br>
            {#Postadresse, postkode og by #}
            <div class="row">
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="postaddressInput" type="text" class="form-control" id="addressInput"
                               aria-describedby="addressHelp" placeholder="Gateadresse*" required>
                        <div class="invalid-tooltip">
                            Må fylles inn
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="postcodeInput" type="text" pattern="[0-9]{4}" class="form-control"
                               id="postcode"
                               aria-describedby="postcodeHelp" placeholder="Postkode*" required>
                        <div class="invalid-tooltip">
                            Må fylles inn
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" style="position:relative">
                        <input name="cityInput" type="text" class="form-control" id="cityInput"
                               aria-describedby="cityInputHelp" placeholder="Poststed"
                               readonly
                        >
                    </div>
                </div>
            </div>
            <hr>
            <br>
            {# Vis regler og registrer SKJEMAET #}
            <div class="row">
                {% if session.user_role < 3 %}
                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info btn-block"
                                data-toggle="modal"
                                data-target=".bd-example-modal-lg">
                            Personvernsregler
                        </button>
                    </div>
                {% endif %}
                <div class="col">
                    <button name="confirm" class="btn btn-success btn-block">
                        Registrer bruker
                    </button>
                </div>
            </div>
            {% if session.user_role < 3 %}
                <br>
                {# Bekrefter å ha lest regler #}
                <div class="row">
                    <div class="col">
                        <div class="form-check" style="position:relative">
                            <input type="checkbox" name="agreeToSCheck" class="form-check-input" id="agreeToSCheck"
                                   required>
                            <label class="form-check-label" for="agreeToSCheck">Jeg godtar
                                personvernsreglene</label>
                            <div class="invalid-tooltip">
                                Du må godta reglene for å bli medlem
                            </div>
                        </div>
                    </div>
                    <div class="col" align="right">
                        <label style="color: indianred">Felt med * må fylles ut!</label>
                    </div>
                </div>
            {% endif %}
        </form>
        <br><br>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Personvernregler</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="docBody">
                        <p>Denne personvernsavtalen gjelder mellom deg, brukeren av denne nettsiden og Skrei
                            Consult, eieren og leverandøren av denne nettsiden. Skrei Consult tar ditt
                            personvern veldig alvorlig. Disse personvernreglene gjelder vår bruk av alle data
                            som er samlet inn av oss eller levert av deg i forbindelse med din bruk av
                            nettstedet.</p>
                        <p><b>Vennligst les denne personvernsavtalen nøye.</b>.</p>
                        <h5>Definisjoner og tolkning</h5>
                        <ol class="clauses firstList">
                            <li>Definisjoner og tolkning
                                <table class="definitions">
                                    <tbody>
                                    <tr>
                                        <td><b>Data</b></td>
                                        <td>samlet alle opplysninger du sender til Skrei Consult via nettsiden.
                                            Denne definisjonen inkluderer, hvor det er aktuelt, definisjonene i
                                            databeskyttelseslovene;<br><br></td>
                                    </tr>
                                    <tr>
                                        <td><b>Databeskyttelseslover</b></td>
                                        <td>gjelder enhver lov som gjelder for behandling av personopplysninger,
                                            inkludert, men ikke begrenset til, direktiv 95/46 / EF
                                            (databeskyttelsesdirektivet) eller GDPR, og eventuelle nasjonale
                                            gjennomføringslover, forskrifter og sekundær lovgivning, så lenge
                                            GDPR er effektiv i Norge;<br><br></td>
                                    </tr>
                                    <tr>
                                        <td><b>GDPR</b></td>
                                        <td>den generelle databeskyttelsesforskriften (EU) 2016/679;<br><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Skrei Consult,
                                                <br>vi</b> eller <b>oss</b></td>
                                        <td>Skrei Consult, et selskap innlemmet i Norge uten organisasjonsnummer
                                            med firmaskontor i Torgåren, Norge, Bodø;<br><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Bruker</b>,<b> du</b> eller <b>deg</b></td>
                                        <td> En hver tredjepart som har tilgang til Nettstedet, og som ikke er
                                            (i) ansatt hos Skrei Consult og handler i løpet av deres ansettelse
                                            eller (ii) engasjert som konsulent eller på annen måte gir tjenester
                                            til Skrei Consult og tilgang til Nettstedet i forbindelse med
                                            levering av slike tjenester; og<br><br></td>
                                    </tr>
                                    <tr>
                                        <td><b>Nettstedet</b></td>
                                        <td>nettstedet du bruker for øyeblikket, 109.189.39.179, og eventuelle
                                            underdomener på dette nettstedet, med mindre det er uttrykkelig
                                            utelukket av deres egne vilkår og betingelser.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>Med mindre konteksten krever en annen tolkning, vil i denne personvernavtalen:
                                <ol>
                                    <li>Entallsform inkludere flertall og omvendt;</li>
                                    <li>referanser til underklausuler, klausuler, tidsplaner eller vedlegg vise
                                        til underklausuler, klausuler, tidsplaner eller vedlegg til denne
                                        personvernavtalen;
                                    </li>
                                    <li>En referanse til en person inkluderer bedrifter, selskaper, offentlige
                                        enheter, fond og partnerskap;
                                    </li>
                                    <li>"inkludert" forstås å bety "inkludert uten begrensning";</li>
                                    <li>Henvisning til enhver lovbestemt bestemmelse inkluderer enhver endring
                                        eller endring av den;
                                    </li>
                                    <li>Overskriftene og underrubrikkene inngår ikke i disse
                                        personvernreglene.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <h5>Omfanget av denne personvernavtalen</h5>
                        <ol class="clauses">
                            <li>Disse personvernreglene gjelder bare for Skrei Consult og Brukers handlinger med
                                hensyn til dette nettstedet. Det strekker seg ikke til nettsteder som kan nås
                                fra denne nettsiden, inkludert, men ikke begrenset til, noen linker vi kan gi
                                til sosiale medie nettsteder.
                            </li>
                            <li>I henhold til gjeldende den databeskyttelsesloven er Skrei Consult
                                "datakontrolløren". Dette betyr at Skrei Consult bestemmer hvilke formål og
                                hvilken måte dine data behandles på.
                            </li>
                        </ol>
                        <h5>Samlede data</h5>
                        <ol class="clauses">
                            <li>Vi kan samle inn følgende data, som inkluderer personlige data fra deg:
                                <ol>
                                    <li>navn;</li>
                                    <li>fødselsdato;</li>
                                    <li>kontakt informasjon som e-postadresser og telefonnumre;</li>
                                    <li>båtinformasjon registrert i vårt system;</li>
                                    i hvert tilfelle, i samsvar med denne personvernavtalen.
                                </ol>
                            </li>
                        </ol>
                        <h5>Hvordan samler vi Data</h5>
                        <ol class="clauses">
                            <li>Vi samler Data på følgende måter:
                                <ol>
                                    <li>Data er gitt til oss av deg; og</li>
                                    <li>Data samles automatisk.</li>
                                </ol>
                            </li>
                        </ol>
                        <h5>Data som er gitt til oss av deg</h5>
                        <ol class="clauses">
                            <li>Skrei Consult samler dataene dine på en rekke måter, for eksempel:
                                <ol>
                                    <li>når du kontakter oss via Nettstedet, via telefon, post, e-post eller på
                                        annen måte;
                                    </li>
                                    <li>når du registrerer deg hos oss og oppretter en konto for å motta våre
                                        produkter/tjenester;
                                    </li>
                                    <li>når du bruker våre tjenester;</li>
                                    <p>i hvert tilfelle, i samsvar med denne personvernavtalen.</p>
                                </ol>
                            </li>
                        </ol>
                        <h5>Data som samles automatisk</h5>
                        <ol class="clauses">
                            <li>I den grad du får tilgang til nettstedet, samler vi dataene dine automatisk, for
                                eksempel:
                                <ol>
                                    <li>Vi samler automatisk inn informasjon om ditt besøk på nettstedet. Denne
                                        informasjonen hjelper oss med å forbedre websidenes innhold og
                                        navigasjon, og inkluderer din IP-adresse, datoen, tidspunktene og
                                        hyppighet som du får tilgang til nettstedet og måten du bruker og
                                        samhandler med innholdet på.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <h5>Vår bruk av Data</h5>
                        <ol class="clauses">
                            <li>Eventuelle eller alle de ovennevnte dataene kan bli pålagt av oss fra tid til
                                annen for å gi deg best mulig service og erfaring når du bruker nettstedet vårt.
                                Spesielt kan Data brukes av oss av følgende årsaker:
                                <ol>
                                    <li>intern registrering;</li>
                                </ol>
                            </li>
                            <p>i hvert tilfelle, i samsvar med denne personvernavtalen.</p>
                            <li>Vi kan bruke dataene dine for de ovennevnte formålene dersom vi anser det
                                nødvendig å gjøre det for våre legitime interesser. Hvis du ikke er fornøyd med
                                dette, har du]under visse omstendigheter rett til å nekte (se delen under
                                overskriften "Dine rettigheter" nedenfor).
                            </li>
                            <li>Når du registrerer deg hos oss og oppretter en konto for å motta våre tjenester,
                                er det juridiske grunnlaget for denne behandlingen at kontrakten mellom deg og
                                oss utføres og / eller iverksettes for å inngå en slik kontrakt.
                            </li>
                        </ol>
                        <h5>Hvem deler vi Data med</h5>
                        <ol class="clauses">
                            <li>Vi kan dele dataene dine med følgende grupper av mennesker av følgende årsaker:
                                <ol>
                                    <li>relevante myndigheter - for å sikre at vi kan identifisere personer når
                                        det er nødvendig;
                                    </li>
                                    <p>i hvert tilfelle, i samsvar med denne personvernavtalen.</p>
                                </ol>
                            </li>
                        </ol>
                        <h5>Databeskyttelse</h5>
                        <ol class="clauses">
                            <li>Vi vil bruke tekniske og organisatoriske tiltak for å beskytte dataene dine, for
                                eksempel:

                                <ol>
                                    <li>Tilgang til kontoen din styres av et passord og et brukernavn som er
                                        unikt for deg.
                                    </li>
                                    <li>Vi lagrer dataene dine på sikre servere.</li>
                                </ol>
                            </li>
                            <li>Tekniske og organisatoriske tiltak omfatter tiltak for å håndtere eventuell
                                mistanke om brudd på data. Hvis du mistenker misbruk eller tap eller uautorisert
                                tilgang til dataene dine, vennligst gi oss beskjed omgående ved å kontakte oss
                                via denne e-postadressen: mha392@uit.no.
                            </li>
                        </ol>
                        <h5>Dataoppbevaring</h5>
                        <ol class="clauses">
                            <li>Med mindre en lengre oppbevaringsperiode kreves eller er tillatt etter lov, vil
                                vi bare holde dataene dine på våre systemer i den perioden som er nødvendig for
                                å oppfylle de formål som er beskrevet i disse personvernreglene, eller til du
                                ber om at dataene slettes.
                            </li>
                            <li>Selv om vi sletter dataene dine, kan det fortsette med sikkerhetskopierings-
                                eller arkivmedier for juridiske, skattemessige eller regulatoriske formål.
                            </li>
                            <li>Skrei Consult tar forbehold om å ikke slette data dersom du har utestående
                                betalinger
                            </li>
                        </ol>
                        <h5>Dine rettigheter</h5>
                        <ol class="clauses">
                            <li>Du har følgende rettigheter i forhold til dine data:
                                <ol>
                                    <li><b>Retten til tilgang</b> - Retten til å be om (i) kopier av
                                        informasjonen vi har om deg når som helst, eller (ii) at vi endrer,
                                        oppdaterer eller sletter slik informasjon. Hvis vi gir deg tilgang til
                                        den informasjonen vi holder om deg, tar vi ikke beløpet for dette, med
                                        mindre din forespørsel er "åpenbart ubegrunnet eller overdreven." Hvor
                                        vi lovlig har lov til å gjøre det, kan vi nekte forespørselen din. Hvis
                                        vi nekter din forespørsel, vil vi fortelle deg hvorfor.
                                    </li>
                                    <li><b>Rett til å korrigere</b> - retten til å få dataene utbedret hvis det
                                        er unøyaktig eller ufullstendig.
                                    </li>
                                    <li><b>Rett til å slette</b> - retten til å be om at vi sletter eller
                                        fjerner dataene dine fra våre systemer.
                                    </li>
                                    <li><b>Rett til å begrense bruken av dine data</b> - retten til å "blokkere"
                                        oss fra å bruke dataene dine eller begrense måten vi kan bruke den på.
                                    </li>
                                    <li><b>Rett til dataportabilitet</b> - retten til å be om at vi flytter,
                                        kopierer eller overfører dataene dine.
                                    </li>
                                    <li><b>Rett til å protestere</b> - Retten til å motsette deg vår bruk av
                                        dine data, inkludert hvor vi bruker den til våre legitime interesser.
                                    </li>
                                </ol>
                            </li>
                            <li>For å få henvendelser, utøve noen av dine rettigheter som er nevnt ovenfor,
                                eller trekke tilbake ditt samtykke til behandlingen av dataene dine (hvor
                                samtykke er vårt juridiske grunnlag for behandling av dataene dine), vennligst
                                kontakt oss via denne e-postadressen: mha392@uit.no .
                            </li>
                            <li>Hvis du ikke er fornøyd med måten en klage du gjør i forhold til dine data blir
                                behandlet av oss, kan du eventuelt sende din klage til den relevante
                                databeskyttelsesmyndigheten. For Norge er dette Datatilsynet, kontakt
                                informasjon finner du på deres nettside
                                https://www.datatilsynet.no/om-datatilsynet/kontakt-oss/
                            </li>
                            <li>Det er viktig at dataene vi holder om deg, er nøyaktige og aktuelle. Vennligst
                                hold oss ​​informert om dine data endres i den perioden vi oppbevarer den.
                            </li>
                        </ol>
                        <h5>Lenker til andre nettsteder</h5>
                        <ol class="clauses">
                            <li>Dette nettstedet kan fra tid til annen gi koblinger til andre nettsteder. Vi har
                                ingen kontroll over slike nettsteder og er ikke ansvarlige for innholdet på
                                disse nettstedene. disse personvernreglene strekker seg ikke til bruken av slike
                                nettsteder. Det anbefales at du leser personvernreglene eller erklæringen av
                                andre nettsteder før du bruker dem.
                            </li>
                        </ol>
                        <h5>Endringer i bedriftseierskap og kontroll</h5>
                        <ol class="clauses">
                            <li>Skrei Consult kan fra tid til annen utvide eller redusere vår virksomhet, og
                                dette kan innebære salg og / eller overføring av kontroll over hele eller deler
                                av Skrei Consult. Data gitt av Brukere vil, når det er relevant for enhver del
                                av vår virksomhet som overføres, overføres sammen med den delen, og den nye
                                eieren eller den nye kontrollerende parten vil i henhold til disse
                                personvernreglene ha lov til å bruke Data for formålene som det ble levert til
                                oss for opprinnelig.
                            </li>
                            <li>Vi kan også avsløre data til en potensiell kjøper av vår virksomhet eller deler
                                av den.
                            </li>
                            <li>I de ovennevnte tilfellene vil vi ta skritt med sikte på å sikre at personvernet
                                ditt er beskyttet.
                            </li>
                        </ol>
                        <h5>Generelt</h5>
                        <ol class="clauses">
                            <li>Du kan ikke overføre noen av dine rettigheter under disse personvernreglene til
                                noen annen person. Vi kan overføre våre rettigheter under disse
                                personvernreglene der vi med rimelighet tror at rettighetene dine ikke vil bli
                                påvirket.
                            </li>
                            <li>Hvis en domstol eller en kompetent myndighet finner at enhver bestemmelse i
                                disse personvernreglene (eller deler av bestemmelsene) er ugyldig, ulovlig eller
                                uhåndterlig, vil denne bestemmelsen eller delbestemmelsen i den utstrekning som
                                er nødvendig anses som slettet, og gyldigheten og håndhevelse av de andre
                                bestemmelsene i denne personvernavtalen vil ikke bli påvirket.
                            </li>
                            <li>Med mindre annet er avtalt, vil ingen forsinkelse, handling eller unnlatelse
                                gjort av en part i utøvelse av rett eller korrigering bli betraktet som et
                                frafall av den eller noen annen, rett eller korrigering.
                            </li>
                            <li>Denne avtalen vil bli styrt av og tolket i henhold til Norges lover. Alle
                                tvister som oppstår i henhold til avtalen, vil bli underlagt eksklusiv
                                jurisdiksjon fra norsk domstol.
                            </li>
                        </ol>
                        <h5>Endringer i disse personvernreglene</h5>
                        <ol class="clauses">
                            <li>Skrei Consult forbeholder seg retten til å endre disse personvernreglene som vi
                                måtte anse nødvendig fra tid til annen eller som det kan være lovlig. Eventuelle
                                endringer vil umiddelbart bli lagt ut på nettsiden, og du anses å ha akseptert
                                vilkårene i personvernreglene ved første bruk av nettsiden etter endringene.
                                <br><br>
                                Du kan kontakte Skrei Consult via e-post på mha392@uit.no.
                            </li>
                        </ol>
                        <p><b>Siste endring: 26. mars 2019</b></p>
                        </ol>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Bootstrap validator
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        //Postcode - city scripts
        // Init a timeout variable to be used below
        var timeout = null;
        var textInput = document.getElementById("postcode");
        // Listen for keystroke events
        textInput.onkeyup = function () {
            clearTimeout(timeout);
            // Make a new timeout set to go off in 800ms
            timeout = setTimeout(function () {
                var postcode = document.getElementById("postcode").value;
                $.ajax({
                    method: "POST",
                    url: "helper.php",
                    data: "postcode=" + postcode,
                    success: function (data) {
                        document.getElementById("cityInput").value = data;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        alert(errorMessage);
                    }
                })
            }, 500);
        };
    </script>
{% endblock %}