{% extends "/templates/main_template.twig" %}

    {% block alert %}
        {% if not feedbackValidated %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">{{ feedbackTitle }}</h4>
                <p>{{ feedbackText }}</p>
            </div>
        {% endif %}
    {% endblock %}

{% block titleText %}Registrer dugnadsarbeid{% endblock %}
{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Registrer dugnad</h4>
    <hr>
    <br>
    <div class="container col-md-6">
        <form method="post">
            <div class="form-group">
                <label for="dateInput">Dato</label>
                <input name="dateInput" type="date" class="form-control" id="dateInput" aria-describedby="dateHelp">
            </div>
            <div class="form-group">
                <label for="hoursInput">Antall timer</label>
                <input name="hoursInput" type="number" class="form-control" id="hoursInput"
                       aria-describedby="amountOfHoursHelp" placeholder="">
            </div>
            <div class="form-group">
                <label for="descriptionInput">Beskrivelse</label>
                <textarea class="form-control" name="descriptionInput" id="descriptionInput" rows="3"></textarea>
            </div>
            <br>
            <button name="confirm" class="btn btn-primary">Send inn</button>
            <br><br>
        </form>
    </div>
{% endblock %}