{% extends "/templates/main_template.twig" %}

{% block titleText %}Innstillinger{% endblock %}
{% block alert %}
    {% if not feedbackValidated %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{ feedbackTitle }}</h4>
            <p>{{ feedbackText }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Innstillinger</h4>
    <hr>
    <div class="d-flex justify-content-sm-center">
    <div class="col-sm-6">
        <form method="post" action="GlobalSettings.php" style="margin-top: 2em">
            <h5 class="text-center" style="margin-top: 2em">Generelt</h5>
            <hr>
            <label for="marinaNameInput">Havnenavn:</label>
            <div class="form-group row">
                <div class="col">
                    <input class="form-control" name="marinaName" id="marinaNameInput" aria-describedby="marinaNameHelp"
                           type="text" placeholder="{{ settings.marinaName }}">
                </div>
                <button type="submit" name="changeMarinaName" class="btn btn-primary">Lagre
                </button>
            </div>
            <br>
            <h5 class="text-center">Beløp</h5>
            <hr>
            <label for="marinaNameInput">Medlemskontigent:</label>
            <div class="form-group row">
                <div class="col">
                    <input class="form-control" name="memberPayment" id="changeMemberPaymentInput"
                           aria-describedby="changeMemberPaymentHelp" type="text"
                           placeholder="{{ settings.memberPayment }}">
                </div>
                <button type="submit" name="changeMemberPayment" class="btn btn-primary">
                    Lagre
                </button>
            </div>
            <label for="marinaBoatPaymentInput">Båtplass:</label>
            <div class="form-group row">
                <div class="col">
                    <input class="form-control" name="dockingPayment" id="changeDockingPaymentInput"
                           aria-describedby="changeDockingPaymentHelp" type="text"
                           placeholder="{{ settings.dockingPayment }}">
                </div>
                <button type="submit" name="changeDockingPayment" class="btn btn-primary">
                    Lagre
                </button>
            </div>
        </form>
        <br>
        <hr>
        <br>
    </div>
{% endblock %}