{% extends "/templates/main_template.twig" %}

{% block titleText %}Verifiser din  bruker!{% endblock %}

{% block content %}
    <br>
    <h1 class="text-center" style="margin-top: 2em">Hei. Du må verifisere din epost via linken du har fått tilsendt fra Skrei Marina (skreiconsult@schjem.net). <br>Sjekk spamfilteret hvis du ikke har fått den innen 15 minutter.</h1>
    <br>
{% endblock %}