{% extends "/templates/main_template.twig" %}

    {% block alert %}
        {% if alertType != '' %}
            <div class="alert {{ alertType }}" role="alert">
                {{ alertText }}
            </div>
        {% endif %}
    {% endblock %}

{% block titleText %}Medlemmer{% endblock %}

{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Medlemmer</h4>
    <hr>
    <br>
    {% if session.user_role>=3 %}
        <div class="container col-md-6">
            <form method='post' action="registerUser.php">
                <button class="btn btn-outline-primary btn btn-block" name="addDock">Opprett ny bruker</button>
            </form>
        </div>
    {% endif %}
    <br>
    <br>
    <table class="table table-hover table-responsive-sm" id="usersTable">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Navn</th>
            <th scope="col">Epost</th>
            <th scope="col">Telefon</th>
            <th scope="col">
                <div class="btn-group">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            style="padding:0;color: #212529;font-weight: bold;">
                        Rolle
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item {{ filterRole==-1 ?'active':'' }}" href="?">Alle</a>
                        <a class="dropdown-item {{ filterRole==0 ?'active':'' }}" href="?role=0">Uverifiserte</a>
                        <a class="dropdown-item {{ filterRole==1 ?'active':'' }}" href="?role=1">Medlemmer</a>
                        <a class="dropdown-item {{ filterRole==2 ?'active':'' }}" href="?role=2">Bryggesjefer</a>
                        <a class="dropdown-item {{ filterRole==3 ?'active':'' }}" href="?role=3">Havnesjefer</a>
                        {# <a class="dropdown-item {{ filterRole==4 ?'active':'' }}" href="?role=4">Superbrukere</a>#}
                    </div>
                </div>
            </th>
            <th scope="col">Registrert</th>
            <th scope="col">Dugnad</th>
            <th scope="col">Timer</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set userCount = users|length -1 %}
        {% set filteredUsers = 0 %}
        {% for user in users %}
            {% if user %}
                {% if user.getRole <= 3 %}
                    {% if filterRole==-1 or user.getRole==filterRole %}
                        {% set filteredUsers = filteredUsers+1 %}
                        {% set role = 'No role' %}
                        {% if user.getRole ==0 %}
                            {% set role = 'Uverifisert' %}
                        {% elseif user.getRole == 1 %}
                            {% set role = 'Medlem' %}
                        {% elseif user.getRole == 2 %}
                            {% set role = 'Bryggesjef' %}
                        {% elseif user.getRole == 3 %}
                            {% set role = 'Havnesjef' %}
                            {#{% elseif user.getRole == 4 %}
                                {% set role = 'Superbruker' %}#}
                        {% endif %}
                    {% endif %}
                    <tr>
                        <th scope="row">{{ user.getUserID }}</th>
                        <td>
                            {% if session.user_role>=3 %}
                                <a class="btn btn-link"
                                   href="profile.php?userId={{ user.getUserId }}">{{ user.getFirstname }} {{ user.getLastname }}</a>
                            {% else %}
                                {{ user.getFirstname }} {{ user.getLastname }}
                            {% endif %}
                        </td>
                        <td>{{ user.getEmail }}</td>
                        <td>{{ user.getPhone }}</td>
                        <td>{{ role }}</td>
                        <td>{{ user.getDateRegistered }}</td>
                        <td>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="checkbox[]"
                                       value="{{ user.getEmail }}">
                            </div>
                        </td>
                        <td>{{ user.getHoursWorked }}</td>
                        {% if session.user_role>=3 %}
                            <td>
                                <div class='dropdown'>
                                    <button class='btn btn-secondary dropdown-toggle' type='button'
                                            id='userDocking{{ user.getUserID }}'
                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                        Administrer
                                    </button>
                                    <div class='dropdown-menu'>
                                        <form method='post' action="removeAndModifyUsers.php"
                                              style="margin-bottom: 0px;">
                                            <button class='dropdown-item btn btn-primary' type='submit'
                                                    value="{{ user.getUserID }}"
                                                    name='editUser'>
                                                Rediger bruker
                                            </button>
                                            <!-- Role modal-->
                                            <button class='dropdown-item btn btn-primary'
                                                    type="button" data-toggle="modal"
                                                    data-target="#roleModal{{ user.getUserID }}">
                                                Endre rolle
                                            </button>
                                            <button class='dropdown-item btn btn-primary'
                                                    type="button" data-toggle="modal"
                                                    data-target="#deleteUser{{ user.getUserID }}">
                                                Slett bruker
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <!-- Modal for delete user-->
                    <div class="modal fade" id="deleteUser{{ user.getUserID }}" tabindex="-1"
                         role="dialog"
                         aria-labelledby="delete_user_label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete_boat_id">Slett bruker</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Er du sikker på at du vil slette {{ user.getFirstname }} {{ user.getLastname }} fra
                                    systemet?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Avbryt
                                    </button>
                                    <form method="post" action="removeAndModifyUsers.php">
                                        <button type="submit" class="btn btn-primary btn-danger"
                                                value="{{ user.getUserID }}"
                                                name="remove">Slett
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Role Modal -->
                    <div class="modal fade" id="roleModal{{ user.getUserID }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Endre rolle
                                        for {{ user.getFirstname }} {{ user.getLastname }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                                    <div class="btn-group">
                                        <button class="btn btn-success dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Velg rolle
                                        </button>
                                        <div class="dropdown-menu">
                                            <form method='post' style="margin-bottom: 0px;">
                                                <input type="hidden" id="userId" name="userID"
                                                       value="{{ user.getUserID }}">
                                                <button class="dropdown-item {{ user.getRole==0 ?' active':'' }}"
                                                        value="0" name="btnPickNewRole" type="submit">Uverifisert
                                                </button>
                                                <button class="dropdown-item {{ user.getRole==1 ?' active':'' }}"
                                                        value="1" name="btnPickNewRole" type="submit">Medlem
                                                </button>
                                                <button class="dropdown-item {{ user.getRole==2 ?' active':'' }}"
                                                        value="2" name="btnPickNewRole" type="button"
                                                        data-toggle="modal"
                                                        data-target="#dockModal{{ user.getUserID }}">Bryggesjef
                                                </button>
                                                <button class="dropdown-item {{ user.getRole==3 ?' active':'' }}"
                                                        value="3" name="btnPickNewRole" type="submit">Havnesjef
                                                </button>
                                                {#  <button class="dropdown-item {{ user.getRole==4 ?' active':'' }}"
                                                          value="4" name="btnPickNewRole" type="submit">Superbruker
                                                  </button>#}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Dock Modal -->
                    <div class="modal fade" id="dockModal{{ user.getUserID }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method='post'>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ user.getFirstname }},
                                            bryggesjef for
                                            hvilken brygge?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <input type="hidden" id="userId" name="userID" value="{{ user.getUserID }}">
                                            <label for="exampleFormControlSelect1">Velg minst en brygge</label>
                                            {% set dockCount = DocksWithoutBoss|length-1 %}
                                            <select multiple name="docks[]" class="form-control"
                                                    id="exampleFormControlSelect1" size="{{ dockCount }}"
                                                    style="height: 100%;">
                                                {% for dock in DocksWithoutBoss if dock %}
                                                    <option value="{{ dock.getDockID }}">
                                                        Brygge: {{ dock.getNickname }}</option>
                                                {% endfor %}
                                            </select>
                                            <small>{{ dockCount }} {{ dockCount==1?'brygge':'brygger' }} uten
                                                bryggesjef
                                            </small>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt
                                        </button>
                                        <button type="submit" name="btnPickNewRole" value="2" class="btn btn-success">
                                            Bekreft!
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <span>Det er {{ filteredUsers }} forskjellige medlemmer på bryggene dine. Totalt er det {{ userCount }} medlemmer med båtplass i havnen. </span>
    <div style="text-align: right;">
        <button class="btn btn-primary btn-md" name="voluntaryWorkButton" style="margin-bottom: 2em"
                onclick="test(); return false" data-toggle="modal" data-target="#openEmailWindow">Send
            dugnadsmelding til valgte medlemmer
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="openEmailWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Send epost</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                    <label id="temp" style="margin-bottom: 2em">
                    </label>
                    <div class="form-group">
                        <form method="post" action="users.php">
                            <label for="emailTitle">Emne</label>
                            <input name="emailTitle" type="text" class="form-control" id="emailTitle"
                                   placeholder="Tittel">
                            <label for="emailContent">Innhold</label>
                            <textarea class="form-control" name="emailContent" id="emailContent" rows="3"
                                      placeholder="Hva skal medlemmene gjøre?"></textarea>
                            <textarea id="hiddenEmails" name="hiddenEmails" hidden></textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                                <button type="submit" name="sendEmails" id="sendEmail" class="btn btn-primary">Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <script>
        function test() {
            document.getElementById("temp").textContent = "Sendes til: \n";
            var checkedElements = [];
            for (var y = 0; y < document.getElementsByName("checkbox[]").length; y++) {
                if (document.getElementsByName("checkbox[]")[y].checked)
                    checkedElements.push(document.getElementsByName("checkbox[]")[y])
            }
            for (var i = 0; i < checkedElements.length; i++) {
                document.getElementById("temp").textContent += checkedElements[i].value + ", ";
                document.getElementById("hiddenEmails").innerHTML += checkedElements[i].value + ",";
            }
        }
    </script>
{% endblock %}