{% extends "/templates/main_template.twig" %}

    {% block alert %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    {% endblock %}

{% block titleText %}Brukere{% endblock %}

{% block content %}
    <table id="table_id" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fornavn</th>
            <th scope="col">Etternavn</th>
            <th scope="col">Epost</th>
            <th scope="col">Tlf</th>
            <th scope="col">Rolle</th>
            <th scope="col">Dato registrert</th>
            <th scope="col">Dugnadstimer</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fornavn</th>
            <th scope="col">Etternavn</th>
            <th scope="col">Epost</th>
            <th scope="col">Tlf</th>
            <th scope="col">Rolle</th>
            <th scope="col">Dato registrert</th>
            <th scope="col">Dugnadstimer</th>
            <th scope="col"></th>
        </tr>
        </tfoot>

    </table>


    <!-- Modal -->
    <div class="modal fade" id="openEmailWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Send epost</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">

                    <label id="temp" style="margin-bottom: 2em">
                    </label>

                    <div class="form-group">
                        <form method="post" action="users.php">
                            <label for="emailTitle">Emne</label>
                            <input name="emailTitle" type="text" class="form-control" id="emailTitle"
                                   placeholder="Tittel">
                            <label for="emailContent">Innhold</label>
                            <textarea class="form-control" name="emailContent" id="emailContent" rows="3"
                                      placeholder="Hva skal medlemmene gjøre?"></textarea>
                            <textarea id="hiddenEmails" name="hiddenEmails" hidden></textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                                <button type="submit" name="sendEmails" id="sendEmail" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New User -->
    <form method='post' action="registerUser.php">
        <button class="btn btn-outline-primary btn-lg btn-block" name="addDock">Opprett bruker</button>
    </form>
    <script>
        $(document).ready(function(){
            $('#table_id').DataTable({
                dom: '<"toolbar">frtip',
                order: [[0, "asc"]],
                columnDefs: [
                    {   //userID
                        targets:[0],
                        visible: false,
                        searchable: true, //true is default
                    },
                    {   //Firstname+Lastname
                      targets:1,
                      render: function(data,type,row){
                        return '<a href=profile.php?userId='+row['userID']+'>'+data+' '+row['lastname']+'</a>';
                      },
                    },
                    {   //Lastname invisible
                        targets: [2],
                        visible:false,
                    },
                    {   //Buttons
                        targets: [8],
                        render: function(data,type,row){
                            return "<div class='dropdown'>\n" +
                                "                    <button class='btn btn-secondary dropdown-toggle' type='button'\n" +
                                "                            id='userDocking}'\n" +
                                "                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>\n" +
                                "                        Administrer\n" +
                                "                    </button>\n" +
                                "                    <div class='dropdown-menu'>\n" +
                                "                        <form method='post' action=\"removeAndModifyUsers.php\" style=\"margin-bottom: 0px;\">\n" +
                                "                            <button class='dropdown-item btn btn-primary' type='submit'\n" +
                                "                                    value='modify:"+row['userID']+"'\n" +
                                "                                    name='buttonPicked'>\n" +
                                "                                Rediger bruker\n" +
                                "                            </button>\n" +
                                "                            <!-- Role modal-->\n" +
                                "                            <button class='dropdown-item btn btn-primary'\n" +
                                "                                    type=\"button\" data-toggle=\"modal\"\n" +
                                "                                    data-target=\"#roleModal"+row['userID']+"\">\n" +
                                "                                Endre rolle\n" +
                                "                            </button>\n" +
                                "\n" +
                                "                            <button class='dropdown-item btn btn-danger' type='submit'\n" +
                                "                                    value='remove:"+row['userID']+"'\n" +
                                "                                    name='buttonPicked'>\n" +
                                "                                Slett\n" +
                                "                            </button>\n" +
                                "                        </form>\n" +
                                "                    </div>\n" +
                                "\n" +
                                "                </div>";
                        },
                        searchable: false,
                        orderable: false,
                    },
                ],
                "language": {
                    decimal: ",",
                    thousands: ".",
                    lengthMenu: "Vis _MENU_ brukere pr side",
                    zeroRecords: "Ingen funnet - sorry",
                    info: "Viser side _PAGE_ av _PAGES_",
                    infoEmpty: "Ingen info tilgjengelig",
                    infoFiltered: "(filtrert av _MAX_ totale brukere)"
                },
                "ajax": {
                    url: "usersBeta.php",
                    type: "POST",
                    data: {ajax: 1},
                    dataSrc: ""
                },
                "columns": [
                    {
                        data: "userID"
                    },
                    {
                        data: "firstname"
                    },
                    {
                        data: "lastname"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "phone",
                        orderable: false,
                    },
                    {
                        data: "Role"
                    },
                    {
                        data: "dateRegistered",
                        type: "date",
                    },
                    {
                        data: "work",
                        type: "num"
                    },

                ],

                //filtrer på Rolle
                initComplete: function () {
                    this.api().columns([5]).every( function () {
                        var column = this;
                        var select = $('<select><option value="">Vis alle roller</option></select>')
                            .appendTo( $(column.footer()).empty() )
                            //.appendTo( $(column.header()) ) //vises i header istedenfor
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            var val = $('<div/>').html(d).text();
                            select.append( '<option value="' + val + '">' + val.substr(0,30) + '</option>' );
                        } );
                    } );
                }
            });

            //Velg dugnad
            $('#table_id tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('table-primary');
                //hiddenEmails
            } );
            $('#voluntaryWorkButton').click( function () {
                alert( table.rows('.table-primary').data().length +' row(s) selected' );
            } );


            //Send dugnadsmelding i toolbar
            $("div.toolbar").html("<button class=\"btn btn-primary btn-sm\" id = 'voluntaryWorkButton' name=\"voluntaryWorkButton\"\n" +
                "                onclick=\"test(); return false\" data-toggle=\"modal\" data-target=\"#openEmailWindow\">Send\n" +
                "            dugnadsmelding til valgte medlemmer\n" +
                "        </button>");
            $("div.toolbar").css({ display: "inline" });
        });
    </script>
{% endblock %}