{% extends "/templates/main_template.twig" %}

{% block titleText %}Dugnader{% endblock %}
{% block content %}
    <h4 class="text-center" style="margin-top: 2em">Dugnadsoversikt</h4>
    <hr>
    <br>
    <br>
    <h5 class="text-center">10 Siste registrerte dugnader</h5>
    <div class="d-flex justify-content-sm-center ">
        <table class="table table-hover table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">Navn</th>
                {#            <th scope="col">Epost</th>#}
                <th scope="col">Timer</th>
                <th scope="col">Beskrivelse</th>
                <th scope="col">Dato</th>
            </tr>
            </thead>
            <tbody>
            {% for work in works %}
                <tr>
                    <td><a class="btn-outline-info d-inline"
                           href="profile.php?userId={{ work.userID }}">{{ work.firstname }} {{ work.lastname }}</a></td>
                    {#                <td>{{ work.email }}</td>#}
                    <td>{{ work.hoursRegistered }}</td>
                    <td>{{ work.description }}</td>
                    <td>{{ work.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <br>
    <h5 class="text-center" style="margin-top: 2em">Alle dugnader</h5>
    <hr>
    <div id="accordion">
        {% for user in users %}
            {% if user %}
                <div class="card">
                <div class="card-header" id="heading{{ user.getUserID }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ user.getUserID }}"
                                aria-expanded="true"
                                aria-controls="heading{{ user.getUserID }}">
                            Navn: {{ user.getfirstname }}   {{ user.getlastname }}, Epost: {{ user.getemail }}, Antall
                            Timer: {{ user.getHoursWorked }}</button>
                    </h5>
                </div>
                <div id="collapse{{ user.getUserID }}" class="collapse" aria-labelledby="heading{{ user.getUserID }}"
                     data-parent="#accordion">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Dato</th>
                            <th scope="col">Beskrivelse</th>
                            <th scope="col">Timer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set hoursRegistered = 0 %}
                        {% for work in userWork %}
                            {% if work.userID == user.getUserID %}
                                {% set hoursRegistered = hoursRegistered + work.hoursRegistered %}
                                <tr>
                                    <td>{{ work.date }}</td>
                                    <td>{{ work.description }}</td>
                                    <td>{{ work.hoursRegistered }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <th colspan="2" scope="row">Totalt antall timer:</th>
                            <th colspan="1">{{ hoursRegistered }}</th>
                            <th></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            </div>
        {% endfor %}
        <hr>
        <br>
        <br>
    </div>
{% endblock %}